<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main w-full h-full select-none overflow-hidden">
        <%- include("./components/header.ejs") %> 
        <div class="body flex justify-center items-center h-1/2">

            <h1 class="text-2xl">About page goes here</h1>
        </div>  
    </div>

    <script src="/Js/script.js"></script>
</body>
</html>